body{
    margin: 0px;
    background-color: #026478;
    font-family: sans-serif;
}

.todo-container{
    width: 350px;
    padding: 15px;
   margin: auto;
   margin-top: 30px;
    text-align: center;
}




.input-section input{
    width: 100%;
    border-radius: 5px;
    border:1px solid silver;
   outline: none;
   padding: 10px;
   font-size: 15px;
   box-sizing: border-box;
   background-color: #056679;
   color: #08869e;

}

.input-section {
    background-color: #026478;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 6px 7px #100e0eb5;
}

input::placeholder{
    color: #08869e;
    padding: 0%;

}

.error-message{
    color: #6a8c93;
}



button[type="submit"] {
    background-color: #026478; 
    color: #0494b0; 
    padding: 12px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold;
    transition: background-color 0.3s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
button[type="submit"]:hover {
    background-color: #026478; 
}

button[type="submit"]:active {
    background-color: #026478; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    transform: scale(0.98); 

}

h1{
    color: #6a8c93;
    margin-bottom: 15px;
}


ul {
    text-align: left;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #026478;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 3px 6px #0d0c0cb5;
    color: #6a8c93;
    border-radius: 5px;
}

ul li.completed {
    background-color: #026478;
    color: rgb(1, 77, 68);
    text-decoration: line-through;
}

ul li span {
    flex: 1;
}

ul li i.delete-btn {
    cursor: pointer;
    color: #026478;
    margin-left: 15px;
}

ul li button {
    border: none;
    background-color: transparent;
    color: #4492a2;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

ul li button i {
    margin-right: 5px;
}

ul li button.edit-btn {
    color: #026478; 
}

ul li button.complete-btn {
    color: #026478; 

}

ul li button.complete-btn.undo {
    color: #e67e22; 
}